@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
*{
  background-color: #BD0017;
  text-align: center;
  color: #FFC836;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.company{
  font-size: 75px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 5%;
}
.company span{
  font-size: 100px;
  color: #264F36;
}
